<app-title-page [title]="title"></app-title-page>
<div class="card mb-3">
   <div class="card-header">
       <button class="btn-info">
           <a style="text-decoration: none; color: white;" routerLinkActive="active-item" routerLink="/autor/cadastro-autor">Adicionar um novo autor</a>
       </button>
   </div>
   <div class="card-body">
    <div class="alert alert-danger" *ngIf="messageErro">
        {{ messageErro }}
    </div>
    <div class="alert alert-success" *ngIf="messageSucesso">
        {{ messageSucesso }}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Sexo</th>
          <th scope="col">Email</th>
          <th scope="col">Pais</th>
          <th scope="col">
              Remover
          </th>
          <th scope="col">
              Atualizar
          </th>
          <th scope="col">Ver Obras</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let autor of autores">
          <td>{{ autor.nome }}</td>
          <td>{{ autor.sexo }}</td>
          <td>{{ autor.email }}</td>
          <td>{{ autor.pais }}</td>
          <td>
            <button (click)="removerAutor(autor)" class="btn-danger">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg>
             </button>
          </td>
          <td>
            <button class="btn-success" (click)="editarAutor(autor)">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
             </button>
          </td>
          <td>
              <button class="btn-info" (click)="visualizarObras(autor)">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                    <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
              </button>
          </td>
        </tr>
        </tbody>
      </table>
   </div>
</div>