<app-title-page [title]="title"></app-title-page>
<div class="card">
    <div class="card-header">
        <button class="btn-info">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              </svg>
              <a routerLinkActive="active-item" routerLink="/"><span
                style="text-decoration: none; color: white;">Home</span></a>
        </button>
    </div>

    <div class="card-body">
        <div *ngIf="messageSucesso">
            {{ messageSucesso }}
        </div>
        <form [formGroup]="formCadastro" (ngSubmit)="CadastrarAutor()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nomeAutor">Nome Completo</label>
                    <input type="text" class="form-control" id="nomeAutor" name="nomeAutor" formControlName="nome">
                    <div *ngIf="validateNome()" class="alert alert-danger">
                        O nome do autor é obrigatório.
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="emailAutor">E-mail</label>
                    <input type="text" class="form-control" id="emailAutor" name="emailAutor" formControlName="email">
                </div>

                <div class="form-group col-md-6">
                    <label for="paisAutor">Pais</label>
                    <select id="paisAutor" name="paisAutor" class="form-control" formControlName="pais">
                        <option *ngFor="let pais of countries" [value]="pais">{{ pais }}</option>
                    </select>
                    <div *ngIf="validatePais()" class="alert alert-dange">
                        O pais é obrigatório
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="autorNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" id="autorNascimento" name="autorNascimento" formControlName="dataDeNascimento">
                    <div *ngIf="validateNascimento()" class="alert alert-danger">
                         A data de nascimento é obrigatória
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="autorCpf">CPF</label>
                    <input type="text" class="form-control" id="autorCpf" name="autorCpf" formControlName="cpf">
                </div>

                <div class="form-group col-md-6">
                    <label for="sexoAutor">Sexo</label>
                    <select class="form-control" id="autorCpf" name="sexoAutor" formControlName="sexo">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn-info">Cadastrar Autor</button>
        </form>
    </div>
</div>
